<h1> Displaying your current bookmarks </h1>
<ul>
<% @my_bookmarks.each do |bookmark|%>
  <% if bookmark.coupon.available? %>
  <li><%= link_to bookmark.coupon.title, coupon_path(bookmark.coupon) %></li>
  <h6>EXPIRATION DATE : <%= bookmark.coupon.end_time%></h6>
  <% end %>
<% end %>
</ul>
<h2><%= link_to "All coupons",coupons_path, class: "bttn" %></h2>
