<h1> Displaying your current bookmarks </h1>
<ul>
<% @my_bookmarks.each do |bookmark|%>
  <% if bookmark.coupon.available? %>
  <%= bookmark.coupon.end_time%>
  <li><%= link_to bookmark.coupon.title, coupon_path(bookmark.coupon) %></li>
  <% end %>
<% end %>
</ul>
<h2><%= link_to "All coupons",coupons_path %></h2>
