// Specific CSS for your home-page
*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--c-gray-100: #fbf8f2;
	--c-gray-200: #fcfdfe;
	--c-gray-300: #e9ebec;
	--c-gray-400: #e3e4ea;
	--c-gray-500: #5f5f5f;
	--c-gray-900: #1d1d1d;
	--c-blue-300: #a8dee2;
	--c-blue-500: #2ab3c0;
	--c-green-500: #80b895;
	--c-green-300: #bad5ca;
	--c-red-500: #ea605e;
	--c-yellow-300: #f8e0b1;
	--c-yellow-500: #f9bc73;

	--rotation: -3deg;
}

body {
	font-family: "Urbanist", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background-color: var(--c-gray-400);
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	font: inherit;
}

.phone {
	width: 100%;
  height: 100%;
	overflow: hidden;
	padding: 2rem;
	background-color: #fff;
	position: relative;
	z-index: 1;
}


.title {
	margin-top: 1rem;
	h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}

	p {
		font-size: 1rem;
		color: var(--c-gray-500);
		margin-top: 0.375em;
	}
}


.navigation {
	margin-top: 2rem;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-900);
	display: flex;
	justify-content: space-between;
}

.navigation-item {
	font-size: 1.125rem;
	display: inline-block;
	padding: 0 0.5rem;
	text-decoration: none;
	color: inherit;
	position: relative;
	z-index: 1;
	font-weight: 500;
	&.active {
		font-weight: 800;
		&:before {
			background-color: var(--c-yellow-500);
		}
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 14px;
		background-color: transparent;
		z-index: -1;
		bottom: -2px;
		left: 0;
		transition: 0.15s ease;
	}

	& + & {
		margin-left: 1.25rem;
	}

	&:hover:before,
	&:focus {
		background-color: var(--c-yellow-500);
	}
}

.coupons {
	margin-top: 1.5rem;
	display: flex;
	padding: 2rem 0.5rem;
}

.currently-playing {
	padding: 1rem 0.5rem;
}



.menu-inner {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	border: 2px solid var(--c-gray-900);
	justify-content: space-between;
	padding: .75rem;
	background-color: var(--c-blue-500);
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 47.5%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-900);
		background-color: var(--c-gray-100);
	}
}

.menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #fff;
	width: 80px;
	border-radius: 15px;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	text-decoration: none;
	background-color: transparent;
	border: 2px solid transparent;
	&:hover,
	&:focus, &.active {

		background-color: var(--c-yellow-500);
		color: var(--c-gray-900);
	}
}
