<section class="title">
  <h1>Displaying all coupons<h1>
  <p>results for your search</p>
</section>

<ul>
<% @coupons.each do |coupon| %>
  <% if coupon.available? %>
    <li><%= link_to coupon.title,coupon_path(coupon) %></li>
  <% end %>
<% end %>
</ul>
<% if user_signed_in? %>
  <div class="flex">
  <% if current_user.customer? %>
    <%= link_to "My Bookmarks", my_bookmarks_path, class: "bttn" %>
  <% else %>
    <%= link_to "Create new coupon", new_coupon_path, class: "bttn" %>
    <%= link_to "My Coupons", my_coupons_path, class: "bttn" %>
  <% end %>
  </div>
<% end %>
