<footer class="menu">
  <div class="menu-inner">
    <a href="#" class="menu-item active">
      <i class="fa-solid fa-house"></i>
    </a>
    <a href="#" class="menu-item">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <a href="#" class="menu-item">
      <i class="fa-regular fa-cart-shopping"></i>
    </a>
    <a href="#" class="menu-item">
      <i class="fa-regular fa-cart-shopping"></i>
    </a>
  </div>
</footer>
