

	<section class="title">
		<h1>Save with Coupons</h1>
		<p>Search for coupons perfect for saving money</p>
	</section>
	<section class="search">
		<div class="search-inner">
			<button class="search-button">
				<i class="ai-search"></i>
			</button>
			<input type="text" class="search-input" placeholder="Search for Supermarkets near you" />

		</div>
	</section>

	<nav class="navigation">
		<a href="#" class="navigation-item active">Featured</a>
		<a href="#" class="navigation-item">My Coupons</a>
	</nav>
	<section class="coupons">

		<article class="card">
			<div class="card-inner">
				<span class="card-pin"></span>
				<div class="card-image">
					<img src="https://media.istockphoto.com/id/1336528420/es/vector/cigarrillos-doodle-6.jpg?s=612x612&w=0&k=20&c=-LVBr2hXZekBAc_pNX1NT5NYN_Ixi0MfcHS_oymBSFo=" />
				</div>
				<div class="card-content">
					<div class="card-meta">
						<span class="card-meta-number">50% off</span>
						<button class="card-meta-button">
							<i class="ai-circle-triangle-right-fill"></i>
						</button>
					</div>
					<h2 class="card-title">Cigarrettes</h2>
				</div>
			</div>
		</article>

		<article class="card">
			<div class="card-inner">
				<span class="card-pin"></span>
				<div class="card-image">
					<img src="https://cdnb.artstation.com/p/assets/images/images/039/578/269/large/ty-patterson-untitled-artwork-60.jpg?1626300796" />
				</div>
				<div class="card-content">
					<div class="card-meta">
						<span class="card-meta-number">99% off</span>
						<button class="card-meta-button">
							<i class="ai-circle-triangle-right-fill"></i>
						</button>
					</div>
					<h2 class="card-title">Monster</h2>
				</div>
			</div>
		</article>
	</section>
	<section class="currently-playing">

	</section>
