.menu-inner {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	border: 2px solid var(--c-gray-900);
	justify-content: space-between;
	padding: .75rem;
	background-color: var(--c-blue-500);
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 47.5%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-900);
		background-color: var(--c-gray-100);
	}
}

.menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #fff;
	width: 80px;
	border-radius: 15px;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	text-decoration: none;
	background-color: transparent;
	border: 2px solid transparent;
	&:hover,
	&:focus, &.active {
		border-color: var(--c-gray-900);
		background-color: var(--c-yellow-500);
		color: var(--c-gray-900);
	}
}

.menu {
  position: fixed;
  width: 90vw;
  bottom: 15px;
  z-index: 5;
  left: 5vw;
  right: 5vw;
}
