.map-search {
	display: flex;
	align-items: center;
	border: 2px solid var(--c-gray-900);
	border-radius: 15px;
	height: 60px;
	font-size: 1rem;
	width: 100%;
	background-color: #fff;
	position: relative;
	margin-top: 2rem;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 96%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 48%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-900);
		background-color: var(--c-gray-100);
		transition: 0.15s ease;
	}

	&:hover,
	&:focus-within {
		input::placeholder {
			color: #787878;
		}
		&:after {
			transform: translatey(2px);
		}
	}
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px 0 0 15px;
	border: 0;
	background-color: var(--c-gray-100);
	position: relative;
	height: 100%;
	border-right: 2px solid var(--c-gray-900);
	width: 70px;
	transition: 0.15s ease;
	cursor: pointer;
	i {
		font-size: 1.25em;
	}

	&:focus,
	&:hover {
		background-color: var(--c-yellow-300);
		outline: 0;
	}
}

.search-input {
	border: 0;
	border-radius: 0 15px 15px 0;
	height: 100%;
	background-color: #fff;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	&:focus {
		outline: 0;
	}
	&::placeholder {
		font-weight: 600;
		color: var(--c-gray-900);
		transition: 0.15s ease;
	}
}
